@model IEnumerable<Filme>
  
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">IdCategoria</th>
      <th scope="col">Nome</th>
      <th scope="col">Sinopse</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">@item.Id</th>
        <th scope="row">@item.IdCategoria</th>
        <th scope="row">@item.Nome</th>
        <th scope="row">@item.Sinopse</th>
      </tr>
    }
  </tbody>
</table>
