@{
    ViewData["Title"] = "Home Page";
} 

<div class="text-center">
    <h1 class="display-4">Netflix</h1> 
</div>

<div class="text-center">
    <h1 class="Frase-central">Filmes Favoritos Da Galera</h1>
</div>

<div class ="container">
    <div class ="magia">
    <img src="~/images/unnamed.png" alt="foto-de-filmes">
    </div>
    <div class= "terror">
<img src="~/images/Halloween.jpg" alt="foto-de-filmes">
    </div>
</div>
 