@model Funcionario

@{
    Layout=null;
}
<form id="funcionarioForm">
    <div class="cadastrar-form">
        <div class="mb-3">
            <input asp-form="Funcionario.Nome" placeholder="Nome" type="text" class"form-control">
        </div>
        <div>
        </div>
     </div>
</form>
